synsets
wikidata
wikipedia_data
synsets2
.vscode/launch.json
test.py
__pycache__/
logs/
.vscode/
stats/
results/
hey.py
translate_senses.py
speed_test.py
rome.py
request.sh
request.json
mistakes/ja_mistakes.csv
compare_py_files.sh
cmd.txt
check_op.sh
babelnet_conf2.yml
analyze_translations.py
translation_checks/v4/tsv/src/en_sentences.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_all_babel.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_all.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_de.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_es.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_fr.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_hr.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_it.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_ja.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_ka.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_ru.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_th.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated_zh.tsv
translation_checks/v4/tsv/tgt/en_sentences_translated.tsv
translation_checks/v4/tsv/tgt/index.csv
en_titles.txt
french_cos_sim.csv
french_string_match.csv
mistakes/dataset.json
mistakes/hey/dataset.json
mistakes/tgt/dataset.json
mistakes/tgt/index.csv
mistakes/tgt/prompts_ar.tsv
mistakes/tgt/prompts_de.tsv
mistakes/tgt/prompts_es.tsv
mistakes/tgt/prompts_fr.tsv
mistakes/tgt/prompts_hr.tsv
mistakes/tgt/prompts_it.tsv
mistakes/tgt/prompts_ja.tsv
mistakes/tgt/prompts_nl.tsv
mistakes/tgt/prompts_sw.tsv
mistakes/tgt/prompts_zh.tsv
edit_hard.py
get_movies.py
