defaults:
  - model: llama-3-1
  - method: ft
  - decoding_strategy: greedy
  - _self_

metrics: 
  - token_em
  - first_token_em
  - string_em
locality_metrics:
  - token_em
  - nkl
dataset: "datasets/v7/translated/dataset.json"
edit_lang: "en"
tgt_langs: ["ar", "de", "es", "fr", "hr", "it", "ja", "nl", "sw", "zh"]
multi_answer_eval: true
max_edits: null
device: 0
log_subdir: "new_debug"
prompt_type: "prompts_mt_marked"
subject_type: "subjects"
target_type: "targets"
eval_prompt_type: ["prompts_mt", "prompts_mt_marked"]
subject_in_prompt: null
generality: false
locality: false
portability: false
eval_ppl: false
data_ppl : "data_ppl/ME-PPL_50_translated.json"
batch_size_ppl: 64