defaults:
  - model: llama-3-1
  - method: ft
  - decoding_strategy: greedy
  - _self_

metrics: 
  - token_em
  - first_token_em
  - string_em
locality_metrics:
  - token_em
  - nkl
dataset: "datasets/v8/translated/test.json"
edit_lang: "en"
tgt_langs: ['ar', 'de', 'en', 'fr', 'hr', 'it', 'ja', 'ka', 'my', 'qu', 'zh']
multi_answer_eval: true
max_edits: null
device: 0
log_subdir: "new_debug"
prompt_type: "prompts_mt_marked"
subject_type: "subjects"
target_type: "targets"
eval_prompt_type: ["prompts_mt", "prompts_mt_marked", "prompts_gloss"]
subject_in_prompt: null
generality: true
locality: true
portability: true
eval_ppl: true
data_ppl : "data_ppl/ME-PPL_50_translated.json"
batch_size_ppl: 32
pre_file: null
pre_edit: null
pre_eval_only: false